version: '3.8'
services:
  db:
    image: postgres:12.7
    environment:
      POSTGRES_USER: postgres
      POSTGRES_HOST_AUTH_METHOD: trust
    volumes:
      - postgres:/var/lib/postgresql/data
    ports:
      - "5432:5432"
#  web:
#    build: .
#    command: bash -c "rm -f tmp/pids/server.pid && bundle exec rails s -p 3000 -b '0.0.0.0'"
#    volumes:
#      - .:/Rails-Docker
#    ports:
#      - "3000:3000"
#    depends_on:
#      - db
volumes:
  postgres: